* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.mainLayout {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #fd6f3f;
  border-radius: 0px;
}
